In [1]:
import numpy as np

# DataTypes & Attribute

In [2]:
# Numpy's main datatype is ndarray
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [3]:
type(a1)

numpy.ndarray

In [4]:
a2 = np.array([[1,2,3],
               [4,5,6]])
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [5]:
a3 = np.array([[[1,2,3,3.1],
                [4,5,6,6.1],
                [7,8,9,9.1]],
               [[10,11,12,12.1],
                [13,14,15,15.1],
                [16,17,18,18.1]]
              ])
a3

array([[[ 1. ,  2. ,  3. ,  3.1],
        [ 4. ,  5. ,  6. ,  6.1],
        [ 7. ,  8. ,  9. ,  9.1]],

       [[10. , 11. , 12. , 12.1],
        [13. , 14. , 15. , 15.1],
        [16. , 17. , 18. , 18.1]]])

In [6]:
a1.shape

(3,)

In [7]:
a2.shape

(2, 3)

In [8]:
a3.shape

(2, 3, 4)

In [9]:
#  function return the number of dimensions of an array
a1.ndim,a2.ndim,a3.ndim

(1, 2, 3)

In [10]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int32'), dtype('int32'), dtype('float64'))

In [11]:
a1.size, a2.size, a3.size

(3, 6, 24)

# Create a DataFrame from Numpy array

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame(a2)
df

   0  1  2
0  1  2  3
1  4  5  6

# Creating arrays

In [14]:
sample_array = np.array([1,2,3])
sample_array

array([1, 2, 3])

In [15]:
sample_array.dtype

dtype('int32')

In [16]:
ones = np.ones((2,3)) #Return a new array of given shape and type, filled with ones.
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [17]:
ones.dtype

dtype('float64')

In [18]:
zeros = np.zeros((2,3)) #Return a new array of given shape and type, filled with zeros.
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [19]:
range_array = np.arange(0,10,2)
range_array

array([0, 2, 4, 6, 8])

In [20]:
random_array = np.random.randint(0,10,size=(3,5))
random_array

array([[3, 8, 4, 3, 7],
       [0, 8, 0, 5, 7],
       [2, 0, 4, 2, 7]])

In [21]:
random_array.size

15

In [22]:
random_array.shape

(3, 5)

In [23]:
random_array2 = np.random.random((5,3))
random_array2

array([[0.38813438, 0.15876423, 0.24876922],
       [0.68389596, 0.61960804, 0.47151382],
       [0.40462181, 0.59501805, 0.3114724 ],
       [0.52294459, 0.02380214, 0.90004407],
       [0.10503295, 0.46218152, 0.1315207 ]])

In [24]:
random_array_3 = np.random.rand(5,3)
random_array_3

array([[0.98752214, 0.98768117, 0.57061694],
       [0.52556958, 0.73484652, 0.99407787],
       [0.23888016, 0.10523441, 0.09418297],
       [0.06715272, 0.32787567, 0.13721843],
       [0.04923427, 0.13530267, 0.21774207]])

# Random seed

In [26]:
np.random.seed(seed=0)
random_array_4 = np.random.randint(0,10,size=(5,3))
random_array_4

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

# np.random.seed(7)
random_array_5 = np.random.random((5,3))
random_array_5

In [36]:
random_array_5 = np.random.random((5,3))
random_array_5

array([[0.72816128, 0.82122761, 0.76051512],
       [0.00714328, 0.42025683, 0.46313622],
       [0.0554995 , 0.54144213, 0.60777075],
       [0.82845319, 0.94180927, 0.12814785],
       [0.23043067, 0.6591584 , 0.13247399]])

# Viewing arrays and metrics

In [39]:
random_array_4

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [38]:
## Find unique
np.unique(random_array_4)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [40]:
a1

array([1, 2, 3])

In [41]:
a1[0]

1

In [42]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [43]:
a2[0]

array([1, 2, 3])

In [44]:
a3

array([[[ 1. ,  2. ,  3. ,  3.1],
        [ 4. ,  5. ,  6. ,  6.1],
        [ 7. ,  8. ,  9. ,  9.1]],

       [[10. , 11. , 12. , 12.1],
        [13. , 14. , 15. , 15.1],
        [16. , 17. , 18. , 18.1]]])

In [45]:
a3[0]

array([[1. , 2. , 3. , 3.1],
       [4. , 5. , 6. , 6.1],
       [7. , 8. , 9. , 9.1]])

In [57]:
a3[:2,:2,:3]

array([[[ 1.,  2.,  3.],
        [ 4.,  5.,  6.]],

       [[10., 11., 12.],
        [13., 14., 15.]]])

In [58]:
a4 = np.random.randint(10,size=(2,3,4,5))
a4

array([[[[3, 5, 8, 8, 7],
         [5, 0, 0, 2, 8],
         [9, 6, 4, 9, 7],
         [3, 3, 8, 3, 0]],

        [[1, 0, 0, 6, 7],
         [7, 9, 3, 0, 7],
         [7, 7, 0, 5, 4],
         [3, 1, 3, 1, 3]],

        [[4, 3, 1, 9, 5],
         [9, 1, 2, 3, 2],
         [2, 5, 7, 3, 0],
         [9, 9, 3, 4, 5]]],


       [[[3, 0, 4, 8, 6],
         [7, 2, 7, 3, 8],
         [6, 6, 5, 6, 5],
         [7, 1, 5, 4, 4]],

        [[9, 9, 0, 6, 2],
         [6, 8, 2, 4, 1],
         [6, 1, 5, 1, 6],
         [9, 8, 6, 5, 9]],

        [[7, 5, 4, 9, 6],
         [8, 1, 5, 5, 8],
         [3, 7, 7, 9, 4],
         [7, 5, 9, 6, 2]]]])

In [59]:
a4.shape, a4.ndim

((2, 3, 4, 5), 4)

In [60]:
## Lấy 4 số đầu tiên của mảng
a4[:,:,:,:4]

array([[[[3, 5, 8, 8],
         [5, 0, 0, 2],
         [9, 6, 4, 9],
         [3, 3, 8, 3]],

        [[1, 0, 0, 6],
         [7, 9, 3, 0],
         [7, 7, 0, 5],
         [3, 1, 3, 1]],

        [[4, 3, 1, 9],
         [9, 1, 2, 3],
         [2, 5, 7, 3],
         [9, 9, 3, 4]]],


       [[[3, 0, 4, 8],
         [7, 2, 7, 3],
         [6, 6, 5, 6],
         [7, 1, 5, 4]],

        [[9, 9, 0, 6],
         [6, 8, 2, 4],
         [6, 1, 5, 1],
         [9, 8, 6, 5]],

        [[7, 5, 4, 9],
         [8, 1, 5, 5],
         [3, 7, 7, 9],
         [7, 5, 9, 6]]]])