# Introduction to Scikit-Learn
This notebook demonstrates some of the most useful functions of the beautiful Scikit-learn library.
What we are going to cover:

0. An end-to-end Scikit-learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and load a trained model
7. Putting it all together

# 0. An end-to-end Scikit-learn workflow

In [1]:
# 1. Get the data ready
import pandas as pd
import numpy as np
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
# Create X (features matrix)
X = heart_disease.drop("target", axis=1)
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [3]:
# Create y (labels)
y = heart_disease["target"]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [4]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100) # Create model clf
# We will keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [5]:
# 3. Fit the model to the data
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2) #test_size = 0.2 nghĩa là 80% data used for training

In [7]:
clf.fit(X_train,y_train)

RandomForestClassifier()

In [8]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
221,55,1,0,140,217,0,1,111,1,5.6,0,0,3
158,58,1,1,125,220,0,1,144,0,0.4,1,4,3
67,45,0,1,130,234,0,0,175,0,0.6,1,0,2
288,57,1,0,110,335,0,1,143,1,3.0,1,1,3
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,40,1,0,110,167,0,0,114,1,2.0,1,0,3
206,59,1,0,110,239,0,0,142,1,1.2,1,1,3
39,65,0,2,160,360,0,0,151,0,0.8,2,0,2
236,58,1,0,125,300,0,0,171,0,0.0,2,2,3
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1

In [9]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
65,35,0,0,138,183,0,1,182,0,1.4,2,0,2
274,47,1,0,110,275,0,0,118,1,1.0,1,1,2
169,53,1,0,140,203,1,0,155,1,3.1,0,0,3
264,54,1,0,110,206,0,0,108,1,0.0,1,1,2
262,53,1,0,123,282,0,1,95,1,2.0,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,62,0,0,140,394,0,0,157,0,1.2,1,0,2
227,35,1,0,120,198,0,1,130,1,1.6,1,0,3
88,54,0,2,110,214,0,1,158,0,1.6,1,0,2
211,61,1,0,120,260,0,1,140,1,3.6,1,1,3
256,58,1,0,128,259,0,0,130,1,3.0,1,2,3

In [10]:
y_train

221    0
158    1
67     1
288    0
9      1
      ..
175    0
206    0
39     1
236    0
5      1
Name: target, Length: 242, dtype: int64

In [11]:
y_test

65     1
274    0
169    0
264    0
262    0
      ..
96     1
227    0
88     1
211    0
256    0
Name: target, Length: 61, dtype: int64

In [12]:
y_preds = clf.predict(X_test) # y prediction
y_preds

array([1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0], dtype=int64)

In [13]:
# 4. Evaluating the model on the training data and test data
clf.score(X_train,y_train)

1.0

In [14]:
clf.score(X_test,y_test)

0.8360655737704918

In [15]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [18]:
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.88      0.82      0.85        34
           1       0.79      0.85      0.82        27

    accuracy                           0.84        61
   macro avg       0.83      0.84      0.83        61
weighted avg       0.84      0.84      0.84        61

In [20]:
confusion_matrix(y_test,y_preds)

array([[28,  6],
       [ 4, 23]], dtype=int64)

In [19]:
accuracy_score(y_test,y_preds)

0.8360655737704918

In [33]:
# 5. Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
    print(f"Model accuracy on test set: {clf.score(X_test,y_test)*100:.2f}%")
    print("\n")

Trying model with 10 estimators...
Model accuracy on test set: 88.52%


Trying model with 20 estimators...
Model accuracy on test set: 85.25%


Trying model with 30 estimators...
Model accuracy on test set: 83.61%


Trying model with 40 estimators...
Model accuracy on test set: 81.97%


Trying model with 50 estimators...
Model accuracy on test set: 81.97%


Trying model with 60 estimators...
Model accuracy on test set: 88.52%


Trying model with 70 estimators...
Model accuracy on test set: 83.61%


Trying model with 80 estimators...
Model accuracy on test set: 86.89%


Trying model with 90 estimators...
Model accuracy on test set: 85.25%

In [34]:
# 6. Save a model and load it
import pickle

In [36]:
pickle.dump(clf,open("random_forest_model_1.pkl","wb"))

In [38]:
loaded_model = pickle.load(open("random_forest_model_1.pkl","rb"))
loaded_model.score(X_test,y_test)

0.8524590163934426