# Introduction to Scikit-Learn
This notebook demonstrates some of the most useful functions of the beautiful Scikit-learn library.
What we are going to cover:

0. An end-to-end Scikit-learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and load a trained model
7. Putting it all together

# 0. An end-to-end Scikit-learn workflow

In [1]:
# 1. Get the data ready
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
# Create X (features matrix)
X = heart_disease.drop("target", axis=1)
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [4]:
# Create y (labels)
y = heart_disease["target"]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [5]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100) # Create model clf
# We will keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [6]:
# 3. Fit the model to the data
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2) #test_size = 0.2 nghĩa là 80% data used for training

In [8]:
clf.fit(X_train,y_train)

RandomForestClassifier()

In [9]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
31,65,1,0,120,177,0,1,140,0,0.4,2,0,3
134,41,0,1,126,306,0,1,163,0,0.0,2,0,2
281,52,1,0,128,204,1,1,156,1,1.0,1,0,0
66,51,1,2,100,222,0,1,143,1,1.2,1,0,2
157,35,1,1,122,192,0,1,174,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,46,0,0,138,243,0,0,152,1,0.0,1,0,2
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2
183,58,1,2,112,230,0,0,165,0,2.5,1,1,3
97,52,1,0,108,233,1,1,147,0,0.1,2,3,3
238,77,1,0,125,304,0,0,162,1,0.0,2,3,2

In [10]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
85,67,0,2,115,564,0,0,160,0,1.6,1,0,3
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3
175,40,1,0,110,167,0,0,114,1,2.0,1,0,3
252,62,0,0,138,294,1,1,106,0,1.9,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,43,1,2,130,315,0,1,162,0,1.9,2,1,2
197,67,1,0,125,254,1,1,163,0,0.2,1,2,3
180,55,1,0,132,353,0,1,132,1,1.2,1,1,3
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3
210,57,1,2,128,229,0,0,150,0,0.4,1,1,3

In [11]:
y_train

31     1
134    1
281    0
66     1
157    1
      ..
119    1
19     1
183    0
97     1
238    0
Name: target, Length: 242, dtype: int64

In [12]:
y_test

85     1
5      1
7      1
175    0
252    0
      ..
98     1
197    0
180    0
293    0
210    0
Name: target, Length: 61, dtype: int64

In [13]:
y_preds = clf.predict(X_test) # y prediction
y_preds

array([1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1], dtype=int64)

In [14]:
# 4. Evaluating the model on the training data and test data
clf.score(X_train,y_train)

1.0

In [15]:
clf.score(X_test,y_test)

0.819672131147541

In [16]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [17]:
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.90      0.77      0.83        35
           1       0.74      0.88      0.81        26

    accuracy                           0.82        61
   macro avg       0.82      0.83      0.82        61
weighted avg       0.83      0.82      0.82        61

In [18]:
confusion_matrix(y_test,y_preds)

array([[27,  8],
       [ 3, 23]], dtype=int64)

In [19]:
accuracy_score(y_test,y_preds)

0.819672131147541

In [20]:
# 5. Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
    print(f"Model accuracy on test set: {clf.score(X_test,y_test)*100:.2f}%")
    print("\n")

Trying model with 10 estimators...
Model accuracy on test set: 78.69%


Trying model with 20 estimators...
Model accuracy on test set: 80.33%


Trying model with 30 estimators...
Model accuracy on test set: 81.97%


Trying model with 40 estimators...
Model accuracy on test set: 81.97%


Trying model with 50 estimators...
Model accuracy on test set: 81.97%


Trying model with 60 estimators...
Model accuracy on test set: 83.61%


Trying model with 70 estimators...
Model accuracy on test set: 85.25%


Trying model with 80 estimators...
Model accuracy on test set: 81.97%


Trying model with 90 estimators...
Model accuracy on test set: 85.25%

In [21]:
# 6. Save a model and load it
import pickle

In [22]:
pickle.dump(clf,open("random_forest_model_1.pkl","wb"))

In [23]:
loaded_model = pickle.load(open("random_forest_model_1.pkl","rb"))
loaded_model.score(X_test,y_test)

0.8524590163934426

# 1. Getting our data ready to be used with machine learning
Three main things we have to do:

    1. Split the data into features and labels (usually `X` and `y`)
    2. Filling (also called imputing (quy nạp)) or disregarding (loại bỏ) missing values
    3. Converting non-numerical values to numerical values (also called feature encoding)

In [25]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [27]:
# Split the data into features and labels
X = heart_disease.drop("target",axis=1)
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [28]:
y = heart_disease["target"]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [30]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))